{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion du Stock</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>